.nav {
    background-color: #17305f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.max-w-7xl {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 640px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: 1024px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.items-center {
    display: flex;
    align-items: center;
}

.space-x-4 {
    display: flex;
    gap: 1rem;
}

.space-x-4 :global(a) {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
}

.space-x-4 :global(a:hover) {
    color: #c4c4c4;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
    img {
        height: 3.75rem;
        width: auto;
    }
}

.logo:hover {
    color: #c4c4c4;
    img {
        filter: brightness(0.8);
    }
}