.App {
  background-image: url('./images/AldrienBackground.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.App-header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.h1-Aldrien {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 11px; /* adds rounded corners */
  border: 10px solid #f6ffd0; /* adds a border */
  padding: 10px; /* adds some padding around the text */
  background-color: #d6f0ff; /* adds a light gray background */
  display: inline-block; /* makes the h1 element an inline block */
  position: relative;
  top: -200px;
  color: #777777;
}

p {
  font-size: 1.5rem;
}