.App {
  background-image: url('./images/AldrienBackground.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns all elements to the left side of the screen */
  padding: 2rem;
}

.App-header {
  text-align: left;
  margin-bottom: 2rem;
}



.h1-Aldrien {
  font-size: 3rem; /* sets the font size */
  margin-bottom: 1rem;
  display: inline-block; /* makes the h1 element an inline block */
  text-align: left;
  color: #686868;
}

.about-me {
  font-size: 5rem;
  margin-bottom: 1rem;
  display: inline-block; /* makes the h1 element an inline block */
  text-align: left; /* aligns the text to the left side of the screen */
  color: #9b9b9b;
}

.hr-line {
  width: 100%; /* makes the hr element as wide as the container */
  border-top: 0px solid #ccc; /* adds a border-top */
  position: relative;
  left: 0; /* aligns the hr element to the left side of the screen */
}



@media (max-width: 600px) {
 

.h1-Aldrien {
    font-size: 1.2rem; /* sets the font size for smaller screens */
    top: -5vh;
  }



  .about-me {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: inline-block; /* makes the h1 element an inline block */
    text-align: left; /* aligns the text to the left side of the screen */
    color: #9b9b9b;
  }
}
